.dashboard-text p {
    font-size: 20px;
    font-weight: 600;
    color: #181a99;
    margin-bottom: 15px;
    margin-top: -15px;

}

.anatomysection img {
    height: 300px;
    margin-top: -40px;
}

.anatomysection {
    background-color: #eef2ff;
    border: 0px solid red;
    width: 240px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;

}

.anotomy-zoom {
    font-size: 20px;
    color: gray;
    margin-left: 160px;
    margin-top: 5px;
    cursor: pointer;
}

.heart,
.leg {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    margin-top: 206px;
    margin-left: 118px;
    cursor: pointer;
    flex-wrap: wrap;
}

.leg {
    margin-top: 338px;
    margin-left: -45px;
}

.heart img,
.leg img {
    height: 30px;
    background-color: #3c33ef56;
}

.heart p,
.leg p {
    background-color: #3c33ef;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
    font-weight: 400;
}


/* Responsive styles */
@media (max-width: 375px) {

    .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}

@media (max-width: 412px) {

    .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}
@media (max-width: 768px) {

    .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}
@media (max-width: 1024px) {

   .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}
@media (max-width: 1280px) {

  .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}
 
@media (max-width: 1440px) {

   .heart,
    .leg {
        margin-top: 200px;
        margin-left: 117px;
        flex-wrap: nowrap;
    }

    .leg {
        margin-top: 330px;
        margin-left: -53px;
    }

    .heart p{
        width: 160px;
    }
    .leg p {
        width: 130px;
    }
}
  