* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  background-color: #eef2ff;
  /* background-color: red; */
}

.content-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}