.week-text {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #181a99;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    flex-wrap: wrap;
}
.healthStatusCards {
    margin-left: 100px;
    cursor: pointer;
    margin-right: 0px;
}
.healthStatus{
    border-radius: 30px;
    background-color: #eef2ff;
    margin-bottom: 10px;
    padding: 5px 20px 0px 30px; 
}
.healthStatus img{
    height: 40px;
}

.healthStatus-img-name{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.healthStatus-img-name p{
    font-size: 16px;
    font-weight: 600;
}
.healthStatus-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.healthStatus-date p{
    color: gray;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 10px;
}

.healthStatus-date input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px; 
  /* margin-bottom: 10px; */
}

 
.healthStatus-date input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
}

/* Responsive styles */
@media(max-width:375px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}
@media(max-width:412px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}
@media(max-width:768px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}
@media(max-width:1024px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}
@media(max-width:1280px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}
@media(max-width:1440px){
    .healthStatusCards{
        margin-left: 200px;
    }
    .week-text{
        flex-wrap: nowrap;
    }
}