.upcomingSchedule{
    padding-left: 36px;
    padding-right: 90px; 
}
.upcomingSchedule h3 {
    color: #06073a;
    font-weight: 600;
    opacity: 0.9;
    margin-top: 10px;
}

.schedule-day h4{
    color: #969696;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    margin-top: 10px;
}
.schedule-card{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.schedule-event {
    padding: 8px 25px 6px 25px;
    border-radius: 25px;
    background-color: #dce4fc;
    color: #06073a;
    cursor: pointer;
}
.schedule-event h4{
    font-weight: 500;
    opacity: 0.8;
}
.schedule-event p { 
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}
.event-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-img-0{
    height: 30px;
}
   
 
   