.upcomingSchedule{
    padding-left: 70px; 
}
.upcomingSchedule h2 {
    color: #06073a;
    font-weight: 600;
    opacity: 0.9;
    margin-top: 18px;
}

.schedule-day h3{
    color: #969696;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.9;
    margin-top: 18px;
}
.schedule-card{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.schedule-event {
    padding: 8px 25px 16px 25px;
    border-radius: 30px;
    background-color: #dce4fc;
    color: #06073a;
    cursor: pointer;
}
.schedule-event h3{
    font-weight: 500;
    opacity: 0.9;
}
.schedule-event p { 
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
}
.event-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-img-0{
    height: 45px;
}
   
 
   